<!DOCTYPE html>
<html lang="en" ng-app="recorder">
	<head>
		<meta charset="utf-8">
		<title>Speech to Server</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="js/mediaelement/mediaelementplayer.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
		<script src="app.js"></script>
		<style type="text/css"> 
			.red-btn { color: #D00000; }
			.mejs-controls div .mejs-cuepoint{
				background: rgba(255,255,0,0.5);
				height: 102%;
				width: 2px;
				border-radius: 2px;
			}

		</style>
	</head>
	<body ng-controller="RecorderController">
			<div class="row">
				<div class="playerWrapper">	
				<video preload="auto" controls="" height=360 width=640 id="videoPlayer" poster="sintel_fragment.jpg">
					<source src="sintel_fragment.webm" type="video/webm">
					<track kind="subtitles" src="sintel_en.vtt" type="text/vtt" srclang="en" label="English" default=""></track>
					<track kind="subtitles" src="sintel_es.vtt" type="text/vtt" srclang="es" label="Español" default=""></track>
				    </video>
				<canvas id="micLevel" class="micLevel" width="1" height="1"></canvas>
				</div>
			</div>
			<div class="row">
				<div class="offset3 span3 text-center">
					<label>Choose role: <select ng-model="chosenRole" ng-options="r for r in roles"></select></label>
				</div>
				<div class="offset3 span3 text-center">
					<button class="btn" ng-click="startRecording()" ng-disabled="recording"><i class="icon-circle" ng-class="recordButtonStyle"></i>&nbsp;Start recording</button>
				</div>
				<div class="span3 text-center">
					<button class="btn" ng-click="stopRecording()" ng-disabled="!recording"><i class="icon-stop"></i>&nbsp;Stop recording</button>
				</div>
			</div>
			<div class="row">
				<div class="span12 text-center" ng-show="recording">
					<span class="label label-important">Recording...</label>
				</div>
			</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="js/mediaelement/mediaelement-and-player.js"></script>
	</body>
</html>
